body {
    background-color: lightgray;
    background-image: url(https://pngimg.com/uploads/taxi/taxi_PNG6.png);
    background-size: cover;
}
input {
    padding:10px;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.11);
    background: #e4f0f5;
}
